<!DOCTYPE html>
<html>
  <head>
    <title>{{.AppName}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/assets/favicon.png">
    <script type="text/javascript" src="/assets/js/index.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>{{.AppName}}</h1>
      <pre id="response"></pre>
      <div class="row">
        <div class="col-xs-6">
          <h2>File</h2>
          <input id="file" type="file" accept="image/*"><br>
        </div>
        <div class="col-xs-6">
          <h2>or base64</h2>
          <textarea id="base64" class="form-control"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2>options</h2>
          <textarea id="options" class="form-control" rows="4">{
            "whitelist": "OCR1234567890",
            "trim": "\n"
}</textarea>
          <ul>
            <li><code>whitelist (optional): allowed characters</code></li>
            <li><code>trim (optional): characters to trim out</code></li>
          </ul>
        </div>
      </div>
      <div class="pull-right"><button id="submit" class="btn btn-default">submit</button></div>
    </div>
  </body>
</html>
