<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="/assets/js/index.js"></script>
    <link rel="stylesheet" href="/assets/css/index.css">
  </head>
  <body>
    <h1>ocrserver</h1>
    <pre id="response"></pre>
    <h2>file</h2>
    <div>
      <input id="file" type="file" accept="image/*"><br>
      <button id="file-submit">submit</button>
    </div>
    <h2>base64</h2>
    <div>
      <textarea id="base64"></textarea><br>
      <button id="base64-submit">submit</button>
    </div>
  </body>
</html>
